/cache
/fancymenu_data
/fancymenu_instance_data
/fancymenu_setups
/crash-reports
/logs
/resources
/saves
/screenshots
/ESM
/journeymap
/usercache.json
/usernamecache.json
/options.txt
bin/minecraft.jar
/local